@charset "UTF-8";
@font-face {
  font-family: "flaticon";
  src: url("./flaticon.ttf?e5f4fdbede26c7acd15944cabde2f170") format("truetype"), url("./flaticon.woff?e5f4fdbede26c7acd15944cabde2f170") format("woff"), url("./flaticon.woff2?e5f4fdbede26c7acd15944cabde2f170") format("woff2"), url("./flaticon.eot?e5f4fdbede26c7acd15944cabde2f170#iefix") format("embedded-opentype"), url("./flaticon.svg?e5f4fdbede26c7acd15944cabde2f170#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
  font-family: flaticon !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-quote:before {
  content: "";
}

.flaticon-quote-1:before {
  content: "";
}

.flaticon-fishing:before {
  content: "";
}

.flaticon-fishing-tool-1:before {
  content: "";
}

.flaticon-decision:before {
  content: "";
}

.flaticon-left-and-right-arrows:before {
  content: "";
}

.flaticon-appointment:before {
  content: "";
}

.flaticon-done:before {
  content: "";
}

.flaticon-fishing-rod:before {
  content: "";
}

.flaticon-rocket:before {
  content: "";
}

.flaticon-rocket-1:before {
  content: "";
}

.flaticon-software-development:before {
  content: "";
}

.flaticon-development:before {
  content: "";
}

.flaticon-planning:before {
  content: "";
}

.flaticon-planning-1:before {
  content: "";
}

.flaticon-schedule:before {
  content: "";
}

.flaticon-bag:before {
  content: "";
}

.flaticon-adventure:before {
  content: "";
}

.flaticon-quote-2:before {
  content: "";
}

.flaticon-quotes:before {
  content: "";
}

.flaticon-telephone-call:before {
  content: "";
}

.flaticon-telephone-call-1:before {
  content: "";
}

.flaticon-telephone:before {
  content: "";
}

.flaticon-pin:before {
  content: "";
}

.flaticon-email:before {
  content: "";
}

.flaticon-handshake:before {
  content: "";
}

.flaticon-code:before {
  content: "";
}

.flaticon-minimize:before {
  content: "";
}

.flaticon-handshake-1:before {
  content: "";
}

.flaticon-earth:before {
  content: "";
}

.flaticon-rocket-2:before {
  content: "";
}

.flaticon-bulb:before {
  content: "";
}

.flaticon-data-source:before {
  content: "";
}

.flaticon-freelance:before {
  content: "";
}

.flaticon-launch:before {
  content: "";
}
/*# sourceMappingURL=flaticon.css.map */