@charset "UTF-8";
/*
Template Name: Foodelio
Template URL: http://vecurosoft.com/products/wordpress/foodelio
Description: Foodelio - Organic Food Store Theme
Author: Vecuro
Author URI: https://themeforest.net/user/vecuro
Version: 1.0.0
*/
/*=================================
    CSS Index End
==================================*/
/*
01. Variable
02. Mixin
03. Function
04. Typography
05. Bootstrap Overwrite
    5.1. Container
    5.2. Grid
    5.3. Form
06. Vendor Custom Style 
    6.1. Slick Slider
    6.2. VS Mobile Menu
    6.3. Date & Time Picker
    6.4. Flaticon
    6.5. Color Plate
07. Theme Default
    7.1. Preloader
    7.2. Theme Buttons
    7.3. Section Title
    7.4. Theme Utility
08. Template Style
    8.1. Widget
    8.2. Header
    8.3. Footer
    8.4. Breadcumb
    8.5. Popup Search
    8.6. Popup Side Menu
    8.7. Pagination    
    8.8. Blog
    8.9. Comments
    8.10. Hero Area
    8.26. About
    8.27. Services
    8.13. Features
    8.14. Product
    8.15. Filter Menu
    8.16. Advertise box
    8.17. Flash Sale
    8.18. Testimonial
    8.19. Thumb Slide
    8.20. Gallery Image
    8.21. Call To Action
    8.22. Team
    8.23. Newsletter
    8.24. Banner Box
    8.25. Accordion (FAQ)
    8.26. Error Page
    8.27. Contact Us
    8.28. Woocommerce
    8.29. Sort Bar
    8.30. Box Nav
09. Theme Global
    9.1. Font
    9.2. Background
    9.3. Text Color
    9.4. Border Radius
    9.5. Overlay
10. Theme Animation
11. Extend
12. Spacing
00. RTL Support

*/
/*=================================
    CSS Index End
==================================*/
/*=================================
    01. Variable
==================================*/
:root {
  --theme-color: #9f974f;
  --theme-color2: #01c1f1;
  --title-color: #9f974f;
  --body-color: #686242;
  --body-color2: #6e7784;
  --black-color: #000000;
  --light-color: #c2c2c2;
  --secondary-color: #f5f6fb;
  --smoke-color: #f8f8f8;
  --dark-color: #252323;
  --light-dark-color: #0f1116;
  --white-color: #ffffff;
  --yellow-color: #fec624;
  --success-color: #28a745;
  --error-color: #dc3545;
  --border-color: rgb(110, 110, 109, 1);
  --theme-font: 'Farro',sans-serif;
  --icon-font: 'Font Awesome 5 Pro';
  --main-container: 1220px;
  --container-gutters: 1.5rem;
  --moving-ani-duration: 10s;
  --ripple-ani-duration: 5s;
}

/*=================================
    02. Mixin
==================================*/
/*=================================
    03. Function
==================================*/
/*=================================
    04. Typography
==================================*/
html,
body {
  scroll-behavior: auto !important;
}

body {
  font-family: var(--theme-font);
  font-size: 14px;
  font-weight: 400;
  color: var(--body-color);
  line-height: 24px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

iframe {
  border: none;
  width: 100%;
}

.slick-slide:focus,
button:focus,
a:focus,
a:active,
input,
input:hover,
input:focus,
input:active,
textarea,
textarea:hover,
textarea:focus,
textarea:active {
  outline: none;
}

input:focus {
  outline: none;
  box-shadow: none;
}

img:not([draggable]),
embed,
object,
video {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: 500;
}

td,
th {
  border-top: 1px solid var(--border-color);
  padding: 9px;
}

a {
  color: var(--theme-color);
  text-decoration: none;
  outline: 0;
  transition: all ease 0.4s;
}

a:hover {
  color: var(--body-color);
}

a:active,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  outline: 0;
}

button {
  transition: all ease 0.4s;
}

img {
  border: none;
  max-width: 100%;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
p a,
span a {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}

p {
  margin: 0 0 15px 0;
  color: var(--body-color);
  line-height: 1.8;
}

.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
  font-family: var(--theme-font);
  color: var(--title-color);
  font-weight: 700;
  text-transform: none;
  line-height: 1.3;
  margin: 0 0 15px 0;
}

.h1,
h1 {
  font-size: 48px;
}

.h2,
h2 {
  font-size: 36px;
}

.h3,
h3 {
  font-size: 30px;
}

.h4,
h4 {
  font-size: 24px;
}

.h5,
h5 {
  font-size: 18px;
}

.h6,
h6 {
  font-size: 16px;
}

/* Large devices */
@media (max-width: 1199px) {
  .h3,
  h3 {
    font-size: 26px;
  }
  .h4,
  h4 {
    font-size: 22px;
  }
}

/* Medium devices */
@media (max-width: 992px) {
  .h1,
  h1 {
    font-size: 42px;
  }
  .h2,
  h2 {
    font-size: 38px;
  }
  .h3,
  h3 {
    font-size: 24px;
  }
  .h4,
  h4 {
    font-size: 20px;
  }
}

/* Small devices */
@media (max-width: 767px) {
  .h1,
  h1 {
    font-size: 36px;
  }
  .h2,
  h2 {
    font-size: 28px;
  }
  .h3,
  h3 {
    font-size: 22px;
  }
}

/*=================================
    05. Bootstrap Overwrite
==================================*/
/*------------------- 5.1. Container -------------------*/
@media only screen and (min-width: 1300px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: calc(var(--main-container) + var(--container-gutters));
    padding-left: calc(var(--container-gutters) / 2);
    padding-right: calc(var(--container-gutters) / 2);
  }
}

@media only screen and (max-width: 1600px) {
  .container-fluid.px-0 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .container-fluid.px-0 .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

/*------------------- 5.2. Grid -------------------*/
.slick-track > [class*=col] {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x)/ 2);
  padding-left: calc(var(--bs-gutter-x)/ 2);
  margin-top: var(--bs-gutter-y);
}

/*------------------- 5.3. Form -------------------*/
label {
  font-size: 14px;
  font-weight: 700;
  color: var(--title-color);
  margin-bottom: 10px;
  line-height: 1;
}

table.variations select,
select,
.form-select,
.form-control {
  height: 55px;
  padding: 0 20px;
  border: 1px solid #e3e6e9;
  color: var(--title-color);
  background-color: var(--white-color);
  border-radius: 3px;
  font-family: var(--theme-font);
}

table.variations select:focus,
select:focus,
.form-select:focus,
.form-control:focus {
  outline: 0;
  box-shadow: none;
  border: 1px solid #e3e6e9;
  background-color: var(--white-color);
}

table.variations select::placeholder,
select::placeholder,
.form-select::placeholder,
.form-control::placeholder {
  color: var(--body-color2);
  text-transform: capitalize;
}

select {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E");
  background-position: right .75rem center;
  background-size: 16px 12px;
  background-repeat: no-repeat;
  font-size: 14px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 50px;
}

input.form-control::-webkit-outer-spin-button,
input.form-control::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.form-control[type=number] {
  -moz-appearance: textfield;
}

textarea.form-control {
  min-height: 180px;
  padding-top: 10px;
  padding-bottom: 17px;
}

input[type="checkbox"] {
  visibility: hidden;
  opacity: 0;
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  display: none;
}

input[type="checkbox"]:checked ~ label:before {
  content: "\f00c";
  background-color: var(--theme-color);
  color: var(--white-color);
  border-color: transparent;
}

input[type="checkbox"] ~ label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: block;
  line-height: 1.5;
  margin-bottom: 11px;
}

input[type="checkbox"] ~ label:before {
  content: '';
  font-family: var(--icon-font);
  font-weight: 400;
  position: absolute;
  left: 0;
  top: 2px;
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  height: 18px;
  width: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 12px;
  border-radius: 3px;
}

input[type="radio"] {
  visibility: hidden;
  opacity: 0;
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  display: none;
}

input[type="radio"] ~ label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: block;
  line-height: 1.3;
  margin-bottom: 11px;
}

input[type="radio"] ~ label:after, input[type="radio"] ~ label:before {
  content: '';
  position: absolute;
  border-radius: 100%;
  transition: all 0.2s ease;
}

input[type="radio"] ~ label::before {
  top: 1px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid var(--border-color);
  background: var(--white-color);
}

input[type="radio"] ~ label:after {
  width: 10px;
  height: 10px;
  top: 4px;
  left: 3px;
  opacity: 0;
  transform: scale(0);
}

input[type="radio"]:checked ~ label::before {
  border-color: var(--theme-color);
}

input[type="radio"]:checked ~ label:after {
  opacity: 1;
  background-color: var(--theme-color);
  transform: scale(1);
}

.form-group {
  margin-bottom: 20px;
  position: relative;
}

.form-group > i {
  position: absolute;
  right: 40px;
  top: 20px;
  font-size: 18px;
  color: var(--theme-color);
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  border: 1px solid var(--error-color);
  background-position: right calc(.375em + 0.8875rem) center;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
  outline: 0;
  box-shadow: none;
}

textarea.form-control.is-invalid {
  background-position: top calc(.375em + 0.5875rem) right calc(.375em + .8875rem);
}

.row.no-gutters > .form-group {
  margin-bottom: 0;
}

/*=================================
    06. Vendor Custom Style
==================================*/
/*------------------- 6.1. Slick Slider -------------------*/
.slick-list.draggable {
  padding-left: 0;
  padding-right: 0;
}

.slick-track {
  min-width: 100%;
}

.slick-track img {
  display: inline-block;
}

.slick-dots {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  margin-bottom: 30px;
  line-height: 0;
}

.slick-dots li {
  line-height: 0;
  display: inline-block;
  margin-right: 10px;
}

.slick-dots li:last-child {
  margin-right: 0;
}

.slick-dots button {
  border: none;
  background-color: transparent;
  display: inline-block;
  background-color: #e5d8d8;
  text-indent: -99999px;
  width: 12px;
  height: 12px;
  padding: 0;
  border-radius: 50%;
}

.slick-dots .slick-active button {
  background-color: var(--body-color);
}

/*------------------- 6.2. VS Mobile Menu -------------------*/
.vs-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999999;
  width: 0;
  height: 100%;
  transition: all ease 0.8s;
  text-align: center;
}

.vs-menu-wrapper .mobile-logo {
  padding-bottom: 25px;
  padding-top: 40px;
  display: inline-block;
}

.vs-menu-wrapper .vs-menu-toggle {
  border: none;
  font-size: 22px;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0;
  line-height: 1;
  width: 33px;
  height: 33px;
  line-height: 33px;
  font-size: 18px;
  z-index: 1;
  color: var(--white-color);
  background-color: var(--theme-color);
  border-radius: 50%;
}

.vs-menu-wrapper .vs-menu-toggle:hover {
  background-color: var(--title-color);
  color: var(--white-color);
}

.vs-menu-wrapper .vs-menu-area {
  width: 100%;
  max-width: 310px;
  background-color: #fff;
  border-right: 3px solid var(--theme-color);
  height: 100%;
  position: relative;
  left: -1000px;
  opacity: 0;
  visibility: hidden;
  transition: all ease 1s;
  z-index: 1;
}

.vs-menu-wrapper.vs-body-visible {
  opacity: 1;
  visibility: visible;
  width: 100%;
  transition: all ease 0.8s;
}

.vs-menu-wrapper.vs-body-visible .vs-menu-area {
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: all ease 1s;
}

.vs-mobile-menu {
  overflow-y: scroll;
  max-height: 58vh;
  padding-bottom: 40px;
  text-align: left;
}

.vs-mobile-menu ul {
  margin: 0;
  padding: 0 0;
}

.vs-mobile-menu ul li {
  border-bottom: 1px solid #fdedf1;
  list-style-type: none;
}

.vs-mobile-menu ul li li:first-child {
  border-top: 1px solid #fdedf1;
}

.vs-mobile-menu ul li a {
  display: block;
  position: relative;
  padding: 14px 0;
  line-height: 1;
  font-size: 14px;
  text-transform: capitalize;
  color: var(--title-color);
}

.vs-mobile-menu ul li a:before {
  content: '\f105';
  font-family: var(--icon-font);
  position: relative;
  left: 0;
  top: 0;
  margin-right: 10px;
  display: inline-block;
}

.vs-mobile-menu ul li.vs-active > a {
  color: var(--theme-color);
}

.vs-mobile-menu ul li ul li {
  padding-left: 20px;
}

.vs-mobile-menu ul li ul li:last-child {
  border-bottom: none;
}

.vs-mobile-menu ul .vs-item-has-children > a:after {
  content: '\f067';
  font-family: var(--icon-font);
  position: absolute;
  right: 0;
  top: 50%;
  font-weight: 400;
  font-size: 11px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin-top: -12.5px;
  display: inline-block;
  text-align: center;
  background-color: var(--white-color);
  box-shadow: 0 0 31px -7px rgba(0, 0, 0, 0.8);
  border-radius: 50%;
}

.vs-mobile-menu ul .vs-item-has-children.vs-active > a:before {
  transform: rotate(90deg);
}

.vs-mobile-menu ul .vs-item-has-children.vs-active > a:after {
  content: '\f068';
}

.vs-mobile-menu > ul {
  padding: 0 20px;
}

.vs-mobile-menu > ul > li:last-child {
  border-bottom: none;
}

.vs-menu-toggle {
  width: 50px;
  height: 50px;
  padding: 0;
  font-size: 24px;
  border: none;
  background-color: var(--theme-color);
  color: var(--white-color);
  display: inline-block;
  border-radius: 50%;
}

/*------------------- 6.3. Date & Time Picker -------------------*/
.xdsoft_datetimepicker {
  z-index: 1080;
}

.xdsoft_datetimepicker .xdsoft_datepicker {
  width: 300px;
}

.xdsoft_datetimepicker .xdsoft_current {
  color: var(--theme-color);
}

/* Extra small devices */
@media (max-width: 576px) {
  .xdsoft_datetimepicker {
    transform: scale(0.7);
    transform-origin: top center;
  }
}

/*------------------- 6.4. Flaticon -------------------*/
@font-face {
  font-family: "flaticon";
  src: url("../fonts/flaticon.ttf?e5f4fdbede26c7acd15944cabde2f170") format("truetype"), url("../fonts/flaticon.woff?e5f4fdbede26c7acd15944cabde2f170") format("woff"), url("../fonts/flaticon.woff2?e5f4fdbede26c7acd15944cabde2f170") format("woff2"), url("../fonts/flaticon.eot?e5f4fdbede26c7acd15944cabde2f170#iefix") format("embedded-opentype"), url("../fonts/flaticon.svg?e5f4fdbede26c7acd15944cabde2f170#flaticon") format("svg");
}

i[class^="flaticon-"]:before,
i[class*=" flaticon-"]:before {
  font-family: flaticon !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-quote:before {
  content: "";
}

.flaticon-quote-1:before {
  content: "";
}

.flaticon-fishing:before {
  content: "";
}

.flaticon-fishing-tool-1:before {
  content: "";
}

.flaticon-decision:before {
  content: "";
}

.flaticon-left-and-right-arrows:before {
  content: "";
}

.flaticon-appointment:before {
  content: "";
}

.flaticon-done:before {
  content: "";
}

.flaticon-fishing-rod:before {
  content: "";
}

.flaticon-rocket:before {
  content: "";
}

.flaticon-rocket-1:before {
  content: "";
}

.flaticon-software-development:before {
  content: "";
}

.flaticon-development:before {
  content: "";
}

.flaticon-planning:before {
  content: "";
}

.flaticon-planning-1:before {
  content: "";
}

.flaticon-schedule:before {
  content: "";
}

.flaticon-bag:before {
  content: "";
}

.flaticon-adventure:before {
  content: "";
}

.flaticon-quote-2:before {
  content: "";
}

.flaticon-quotes:before {
  content: "";
}

.flaticon-telephone-call:before {
  content: "";
}

.flaticon-telephone-call-1:before {
  content: "";
}

.flaticon-telephone:before {
  content: "";
}

.flaticon-pin:before {
  content: "";
}

.flaticon-email:before {
  content: "";
}

.flaticon-handshake:before {
  content: "";
}

.flaticon-code:before {
  content: "";
}

.flaticon-minimize:before {
  content: "";
}

.flaticon-handshake-1:before {
  content: "";
}

.flaticon-earth:before {
  content: "";
}

.flaticon-rocket-2:before {
  content: "";
}

.flaticon-bulb:before {
  content: "";
}

.flaticon-data-source:before {
  content: "";
}

.flaticon-freelance:before {
  content: "";
}

.flaticon-launch:before {
  content: "";
}

/*------------------- 6.5. Color Plate -------------------*/
/* Color Plate */
.vs-setting-plate {
  position: fixed;
  display: block;
  z-index: 99998;
  padding: 20px;
  width: 240px;
  background: #fff;
  left: -240px;
  text-align: left;
  top: 30%;
  transition: all 0.4s ease;
  box-shadow: -3px 0px 10px -2px rgba(0, 0, 0, 0.1);
  direction: ltr;
}

.vs-setting-plate.open {
  left: 0;
}

.vs-setting-plate .setting-plate-icon {
  position: absolute;
  right: -48px;
  width: 48px;
  height: 45px;
  line-height: 45px;
  font-size: 21px;
  border-radius: 0 5px 5px 0;
  text-align: center;
  color: #fff !important;
  top: 0;
  cursor: pointer;
  box-shadow: -4px 0px 5px #00000036;
}

.vs-setting-plate .plate-btn {
  height: 40px;
  line-height: 40px;
  display: inline-block;
  border: none;
  background-color: var(--theme-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  border: 1px solid transparent;
  text-align: center;
}

.vs-setting-plate .plate-btn:hover, .vs-setting-plate .plate-btn.active {
  border-color: var(--theme-color);
  background-color: transparent;
  color: var(--title-color);
}

.vs-setting-plate h4 {
  display: block;
  font-size: 18px;
  margin-bottom: 0px;
  font-weight: 500;
}

.vs-setting-plate p {
  font-size: 12px;
  margin-bottom: 15px;
  line-height: 20px;
}

.vs-setting-plate .btn-wrap {
  display: grid;
  gap: 5px;
}

.vs-setting-plate .btn-wrap.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.vs-setting-plate .btn-wrap.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.vs-setting-plate .color-btn {
  height: 40px;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  border: none;
}

.vs-setting-plate .color-btn:hover {
  cursor: pointer;
}

/*=================================
    07. Theme Default
==================================*/
/*------------------- 7.1. Preloader -------------------*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--white-color);
}

.preloader .vs-btn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 0;
  padding: 5px 20px;
  font-size: 16px;
  border: none;
}

.preloader .loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  transform: rotate(45deg);
}

.preloader .loader::before {
  content: '';
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: -24px;
  animation: animloader 4s ease infinite;
}

.preloader .loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background: var(var(--theme-color));
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  animation: animloader2 2s ease infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
  }
  12% {
    box-shadow: 0 24px var(--theme-color), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow: 0 24px var(--theme-color), 24px 24px var(--theme-color), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
  }
  37% {
    box-shadow: 0 24px var(--theme-color), 24px 24px var(--theme-color), 24px 48px var(--theme-color), 0px 48px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 0 24px var(--theme-color), 24px 24px var(--theme-color), 24px 48px var(--theme-color), 0px 48px var(--theme-color);
  }
  62% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px var(--theme-color), 24px 48px var(--theme-color), 0px 48px var(--theme-color);
  }
  75% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px var(--theme-color), 0px 48px var(--theme-color);
  }
  87% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px var(--theme-color);
  }
  100% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
  }
}

@keyframes animloader2 {
  0% {
    transform: translate(0, 0) rotateX(0) rotateY(0);
  }
  25% {
    transform: translate(100%, 0) rotateX(0) rotateY(180deg);
  }
  50% {
    transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
  }
  75% {
    transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
  }
  100% {
    transform: translate(0, 0) rotateX(0) rotateY(360deg);
  }
}

/*------------------- 7.2. Theme Buttons -------------------*/
.vs-btn {
  display: inline-block;
  border: none;
  padding: 17px 42px;
  border-radius: 9999px;
  background-color: var(--white-color, var(--white-color));
  color: --theme-color, var(--theme-color);
  font-family: var(--title-color);
  font-weight: 500;
  transition: all ease-in-out 0.4s;
  position: relative;
  z-index: 2;
  vertical-align: middle;
  overflow: hidden;
  font-size: 16px;
}

.vs-btn::before {
  content: '';
  position: absolute;
  background-color: var(--theme-color);
  width: 100%;
  height: 0px;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: all ease-in-out 0.4s;
}

.vs-btn i {
  margin-right: 8px;
}

.vs-btn:hover {
  color: var(--white-color);
}

.vs-btn:hover::before {
  height: 100%;
  opacity: 1;
  visibility: visible;
}

.vs-btn.style-2 {
  color: var(--white-color);
  background-color: var(--theme-color);
}

.vs-btn.style-2 i {
  margin-right: 10px;
}

.vs-btn.style-2:hover {
  background-color: var(--body-color);
}

.icon-btn {
  display: inline-block;
  color: var(--white-color);
  background-color: var(--theme-color);
  text-align: center;
  position: relative;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: none;
  font-size: 18px;
  border-radius: 50%;
}

.icon-btn.active, .icon-btn:hover {
  background-color: var(--body-color) !important;
  color: var(--white-color) !important;
}

.play-btn {
  position: relative;
  border-radius: 50%;
  display: inline-block;
}

.play-btn > i {
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  font-size: 18px;
  border-radius: inherit;
  transition: all ease 0.4s;
}

.play-btn .fa-play {
  padding-left: 3px;
}

.play-btn:after, .play-btn:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: var(--theme-color);
  z-index: 1;
}

.play-btn:after {
  animation-delay: 1s;
}

.play-btn:hover > i,
.play-btn.style-white > i {
  background-color: var(--white-color);
  color: var(--theme-color);
  box-shadow: 0px 6px 34.3px 0.7px rgba(148, 147, 147, 0.84);
}

.play-btn > i,
.play-btn.style-white:hover > i {
  color: var(--white-color);
  background-color: var(--theme-color);
}

.link-btn {
  font-weight: 700;
  display: inline-block;
  line-height: 0.8;
}

.link-btn i {
  margin-left: 5px;
}

.view-btn {
  font-size: 18px;
  font-size: 700;
  color: var(--body-color2);
  text-transform: capitalize;
}

.view-btn i {
  margin-left: 10px;
}

.view-btn:hover {
  color: var(--theme-color);
}

.scrollToTop {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: var(--theme-color);
  color: var(--white-color);
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 94;
  opacity: 0;
  visibility: hidden;
  font-size: 26px;
  transition: all ease 0.8s;
  border-radius: 50%;
  /* Small devices */
}

.scrollToTop.show {
  bottom: 30px;
  opacity: 1;
  visibility: visible;
}

.scrollToTop:focus, .scrollToTop:hover {
  background-color: var(--body-color);
  color: var(--white-color);
}

@media (max-width: 767px) {
  .scrollToTop {
    width: 40px;
    height: 40px;
    line-height: 40px;
    right: 15px;
    bottom: 50px;
  }
  .scrollToTop.show {
    bottom: 15px;
  }
}

/* Medium devices */
@media (max-width: 992px) {
  .play-btn > i {
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 26px;
  }
}

/*------------------- 7.3. Section Title -------------------*/
.section-title {
  margin-bottom: 60px;
}

.section-title > img {
  margin-top: 17px;
}

.sec-title2 {
  font-size: 48px;
  line-height: 1.5;
  margin-top: 20px;
}

.sec-title1 {
  color: var(--body-color);
  font-weight: 500;
  margin-bottom: 0;
  text-transform: none;
}

.sec-paragraph {
  color: var(--body-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
}

/*------------------- 7.4. Theme Utility -------------------*/
@media (min-width: 1950px) {
  .d-none-hd {
    display: none;
  }
}

@media (min-width: 1500px) {
  .d-hd-inline-block {
    display: inline-block !important;
  }
  .d-hd-block {
    display: block !important;
  }
}

.image-scale-hover {
  overflow: hidden;
}

.image-scale-hover img {
  transition: all ease 0.4s;
  transform: scale(1.001);
}

.image-scale-hover:hover img {
  transform: scale(1.2);
}

.link-inherit a,
.link-inherit * a {
  color: inherit;
}

.link-inherit a:hover,
.link-inherit * a:hover {
  color: var(--theme-color);
}

.list-style-none ol,
.list-style-none ul, .list-style-none {
  padding: 0;
  margin: 0;
}

.list-style-none li {
  list-style-type: none;
}

.form-messages {
  display: none;
}

.form-messages.success {
  color: var(--success-color);
  display: block;
}

.form-messages.error {
  color: var(--error-color);
  display: block;
}

.badge {
  position: absolute;
  width: fit-content;
  display: inline-block;
  text-align: center;
  background-color: var(--body-color);
  color: var(--white-color);
  padding: .35em .55em;
  border-radius: 50%;
}

.vs-rating {
  color: var(--light-color);
}

.vs-rating .active {
  color: var(--theme-color);
}

.media-body {
  flex: 1;
}

/*=================================
    08. Template Style
==================================*/
/*------------------- 8.1. Widget  -------------------*/
/*------------------- 8.2. Header  -------------------*/
.header-wrapper {
  position: relative;
  z-index: 41;
}

.header-top-wrapper {
  position: relative;
  z-index: 42 !important;
}

.main-menu a {
  color: var(--title-color);
  font-family: var(--theme-font);
  font-weight: 700;
  display: block;
  position: relative;
}

.main-menu a:hover {
  color: var(--theme-color);
}

.main-menu.text-white > ul > li > a {
  color: inherit;
}

.main-menu.text-white > ul > li > a:hover {
  color: var(--theme-color);
  transform: translateX(5px);
}

.main-menu ul {
  margin: 0;
  padding: 0;
}

.main-menu ul li {
  list-style-type: none;
  display: inline-block;
  position: relative;
}

.main-menu ul li.menu-item-has-children > a:after {
  content: '\f107';
  position: relative;
  font-family: var(--icon-font);
  margin-left: 7px;
  font-size: 0.8rem;
}

.main-menu ul li:last-child {
  margin-right: 0;
}

.main-menu ul li:first-child {
  margin-left: 0;
}

.main-menu ul li:hover > ul.sub-menu,
.main-menu ul li:hover ul.mega-menu {
  visibility: visible;
  opacity: 1;
  transform: rotateX(0);
  z-index: 9;
}

.main-menu ul.sub-menu,
.main-menu ul.mega-menu {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background-color: var(--white-color);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  visibility: hidden;
  min-width: 200px;
  width: max-content;
  padding: 7px;
  left: -14px;
  opacity: 0;
  z-index: -1;
  transform-origin: top center;
  transform: rotateX(90deg);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: transform 0.4s ease-in-out 0s, visibility 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, z-index 0s;
}

.main-menu ul.sub-menu li {
  display: block;
  margin: 0 0;
  padding: 4px 9px;
}

.main-menu ul.sub-menu li.menu-item-has-children > a:after {
  content: "\f105";
  float: right;
  top: 1px;
  font-size: 0.8rem;
}

.main-menu ul.sub-menu li a {
  font-weight: 500;
  text-transform: capitalize;
}

.main-menu ul.sub-menu li a:hover {
  transform: translateX(5px);
  color: var(--theme-color);
}

.main-menu ul.sub-menu li ul {
  left: 100%;
  right: auto;
  top: 0;
  margin: 0 7px;
  border-radius: 5px;
  transform: rotateX(0);
}

.main-menu ul.sub-menu li ul li ul {
  left: 100%;
  right: auto;
}

.main-menu .mega-menu-wrap {
  position: static;
}

.main-menu ul.mega-menu {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  max-width: 1200px;
  padding: 20px 0;
  left: 0;
}

.main-menu ul.mega-menu li {
  display: block;
  width: 100%;
  padding: 0 20px;
}

.main-menu ul.mega-menu li li {
  padding: 3px 0;
}

.main-menu ul.mega-menu li a {
  display: inline-block;
}

.main-menu ul.mega-menu li a:hover {
  transform: translateX(5px);
}

.main-menu ul.mega-menu > li > a {
  display: block;
  border-bottom: 1px solid;
  padding: 0;
  padding-bottom: 10px;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  color: var(--theme-color);
  border-color: var(--theme-color);
}

.main-menu ul.mega-menu > li > a::before {
  display: none;
}

.main-menu ul.mega-menu > li > a:hover {
  padding-left: 0;
}

.sticky-header-wrap {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: all ease 0.4s;
  transform: translateY(-110%);
  transform-origin: top;
  opacity: 0;
  visibility: hidden;
}

.sticky-header-wrap.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.sticky-header-wrap .logo {
  width: 90px;
  transform: translateY(13px);
}

.menu-sticky1 > ul > li {
  margin: 0 17px;
}

.menu-sticky1 > ul > li > a {
  padding: 27px 0;
}

.header-position {
  position: absolute;
  top: -40px;
  z-index: 19;
}

.menu-style1 > ul > li {
  margin: 0 18px;
}

.menu-style1 > ul > li > a {
  padding: 36px 0;
  font-size: 16px;
  color: var(--theme-color);
  position: relative;
}

.menu-style1 > ul > li > a:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 4px;
  width: 0;
  background-color: var(--theme-color);
  transition: all ease 0.4s;
}

.menu-style1 > ul > li > a:hover {
  color: #858585;
}

.menu-style1 > ul > li > a:hover:before {
  width: 100%;
}

.menu-style1 > ul > li.menu-item-has-children a:before {
  bottom: 0;
}

.head-top-links li {
  display: inline-block;
  margin-right: 28px;
  position: relative;
  z-index: 1;
}

.head-top-links li::before {
  content: '';
  position: absolute;
  right: -17px;
  top: 8px;
  height: 10px;
  width: 1px;
  line-height: 1;
  background-color: var(--border-color, #6e6e6d);
  transition: all ease 0.4s;
}

.head-top-links li a i {
  margin-right: 5px;
}

.head-top-links a {
  color: var(--white-color);
}

.head-top-widget .globe-icon {
  margin-right: 5px;
}

.head-top-widget ul.dropdown-menu {
  padding: 10px 15px;
  border: none;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07);
  margin: 0;
  margin-top: 15px !important;
  width: fit-content;
  min-width: auto;
  position: relative;
  z-index: 55;
  border: 1px solid #ededed;
}

.head-top-widget ul.dropdown-menu a {
  padding: 0 10px;
  width: max-content;
}

.head-top-widget ul.dropdown-menu a:hover {
  color: var(--theme-color);
  text-decoration: underline;
}

.head-top-widget .dropdown-toggle::before {
  content: '\f078';
  font-size: 8px;
  font-family: "Font Awesome 5 pro";
  position: absolute;
  right: -10px;
  top: 0;
  z-index: 1;
}

.head-top-widget .dropdown-toggle::after {
  display: none;
}

.vs-social-group a {
  display: inline-block;
  color: var(--icon-color, var(--white-color));
  width: var(--link-size, 40px);
  height: var(--link-size, 40px);
  line-height: var(--link-size, 40px);
  background-color: var(--bg-color, #867f44);
  text-align: center;
}

.vs-social-group a:hover {
  color: var(--theme-color2);
}

/*------------------- 8.3. Footer  -------------------*/
/*------------------- 8.4. Breadcumb  -------------------*/
.breadcumb-menu-style1 {
  max-width: 100%;
  width: fit-content;
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 0;
  margin-top: 7px;
}

.breadcumb-menu-style1 li {
  display: inline-block;
  margin: 0 6px;
  list-style: none;
}

.breadcumb-menu-style1 li:first-child {
  margin-left: 0;
}

.breadcumb-menu-style1 li:last-child {
  margin-right: 0;
}

.breadcumb-menu-style1 li:last-child:after {
  display: none;
}

.breadcumb-menu-style1 li:after {
  content: '/';
  position: relative;
  right: -7px;
  float: right;
}

.breadcumb-menu-style1 li,
.breadcumb-menu-style1 a,
.breadcumb-menu-style1 span {
  white-space: normal;
  word-break: break-word;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: var(--theme-font);
  color: var(--body-color);
  font-weight: 600;
  line-height: 1;
  font-size: 16px;
}

.breadcumb-menu-style1 li i,
.breadcumb-menu-style1 a i,
.breadcumb-menu-style1 span i {
  margin-right: 5px;
}

.breadcumb-title {
  font-size: 80px;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 3px;
  margin-top: -0.15em;
  word-break: break-word;
}

/* Medium Large devices */
@media (max-width: 1300px) {
  .breadcumb-layout1.pt-200.pb-200 {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .breadcumb-layout1.bg-fluid {
    background-size: cover;
    background-position: center center;
  }
}

/* Large devices */
@media (max-width: 1199px) {
  .breadcumb-title {
    font-size: 68px;
  }
}

/* Medium devices */
@media (max-width: 992px) {
  .breadcumb-layout1.pt-200.pb-200 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .breadcumb-menu-style1 li,
  .breadcumb-menu-style1 a,
  .breadcumb-menu-style1 span {
    font-size: 16px;
  }
  .breadcumb-title {
    font-size: 52px;
  }
}

/* Small devices */
@media (max-width: 767px) {
  .breadcumb-layout1.pt-200.pb-200 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .breadcumb-menu-style1 li,
  .breadcumb-menu-style1 a,
  .breadcumb-menu-style1 span {
    font-size: 14px;
  }
  .breadcumb-title {
    font-size: 42px;
  }
}

/* Extra small devices */
@media (max-width: 576px) {
  .breadcumb-layout1.pt-200.pb-200 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .breadcumb-title {
    font-size: 38px;
    margin-bottom: 10px;
  }
}

/*------------------- 8.5. hero  -------------------*/
.hero-title-one {
  color: var(--theme-color);
  font-size: 72px;
  line-height: var(--line-height, 1.18);
}

.sub-title {
  color: var(--body-color);
  font-size: 18px;
  line-height: 30px;
}

.hero-slider-img {
  position: absolute;
  right: 18.22%;
  top: 21%;
  z-index: 2;
}

/*------------------- 8.6. feature  -------------------*/
.feature-icon {
  width: 99px;
  height: 99px;
  border: 2px solid var(--theme-color);
  border-radius: 50%;
  text-align: center;
  line-height: 105px;
  position: relative;
  z-index: 2;
}

.feature-icon::before {
  content: '';
  position: absolute;
  background-color: var(--white-color);
  box-shadow: 0px 20px 60px 0px rgba(95, 91, 69, 0.1);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  left: -1px;
  right: 0;
  top: 50%;
  bottom: 0;
  margin: 0 auto;
  transform: translateY(-50%);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.feature-icon i {
  color: var(--theme-color);
  font-size: 38px;
  line-height: 105px;
}

.feature-box:hover .feature-icon::before {
  background-color: var(--theme-color);
  width: 102%;
  height: 102%;
}

.feature-box:hover .feature-icon i {
  color: var(--white-color);
}

/*------------------- 8.7. about  -------------------*/
/*------------------- 8.8. video  -------------------*/
/*------------------- 8.9. video  -------------------*/
.vs-services-content {
  position: relative;
  padding: 35px 55px 22px 40px;
}

.vs-services-content::before {
  content: '';
  position: absolute;
  height: 280px;
  width: 100%;
  border-radius: 10px;
  background: var(--white-color);
  border: 2px solid #9f974f;
  opacity: 0.1;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: all 0.3s;
}

.vs-services-box:hover .vs-services-content::before {
  border-color: #f0f0f0;
  box-shadow: 0px 20px 42px rgba(0, 0, 0, 0.08);
  opacity: 1;
}

/*------------------- 8.28. Woocommerce  -------------------*/
/*=================================
    09. Theme Global
==================================*/
/*------------------- 9.1. Font -------------------*/
.font-theme {
  font-family: var(--theme-font);
}

.font-theme2 {
  font-family: var(--theme-font);
}

.font-icon {
  font-family: var(--icon-font);
}

.fw-light {
  font-weight: 300;
}

.fw-normal {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.fs-md {
  font-size: 18px;
}

.fs-12 {
  font-size: 12px;
}

.fs-xs {
  font-size: 14px;
}

.fs-20 {
  font-size: 20px;
}

/* Large devices */
@media (max-width: 1199px) {
  .fs-20 {
    font-size: 18px;
  }
}

/*------------------- 9.2. Background -------------------*/
.bg-theme {
  background-color: var(--theme-color) !important;
}

.bg-black {
  background-color: var(--black-color) !important;
}

.bg-smoke {
  background-color: var(--smoke-color) !important;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

.bg-white {
  background-color: var(--white-color) !important;
}

.bg-dark {
  background-color: var(--dark-color) !important;
}

.bg-yellow {
  background-color: var(--yellow-color) !important;
}

.bg-success {
  background-color: var(--success-color) !important;
}

.bg-error {
  background-color: var(--error-color) !important;
}

.bg-body {
  background-color: var(--body-color) !important;
}

[data-bg-src] {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-fluid {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.bg-auto {
  background-size: auto auto;
}

.bg-fixed {
  background-attachment: fixed;
}

/* Hight Resoulation devices */
@media (min-width: 1921px) {
  .bg1 {
    background-size: 100%;
  }
}

/*------------------- 9.3. Text Color -------------------*/
.text-theme {
  color: var(--theme-color) !important;
}

.text-title {
  color: var(--title-color) !important;
}

.text-body {
  color: var(--body-color) !important;
}

.text-body2 {
  color: var(--body-color2) !important;
}

.text-light {
  color: var(--light-color) !important;
}

.text-white {
  color: var(--white-color) !important;
}

.text-yellow {
  color: var(--yellow-color) !important;
}

.text-success {
  color: var(--success-color) !important;
}

.text-error {
  color: var(--error-color) !important;
}

.text-inherit {
  color: inherit;
}

/*------------------- 9.4. Border Radius -------------------*/
.radius-circle {
  border-radius: 50%;
}

.radius-50 {
  border-radius: 50px;
}

.radius-100 {
  border-radius: 100px;
}

/*------------------- 9.5. Overlay -------------------*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
  z-index: 1;
}

[data-overlay] {
  position: relative;
}

[data-overlay] [class^="col-"],
[data-overlay] [class*="col-"] {
  z-index: 1;
}

[data-overlay]:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

[data-overlay="theme"]:before {
  background-color: var(--theme-color);
}

[data-overlay="white"]:before {
  background-color: var(--white-color);
}

[data-overlay="dark"]:before {
  background-color: var(--dark-color);
}

[data-opacity="1"]:before {
  opacity: 0.1;
}

[data-opacity="2"]:before {
  opacity: 0.2;
}

[data-opacity="3"]:before {
  opacity: 0.3;
}

[data-opacity="4"]:before {
  opacity: 0.4;
}

[data-opacity="5"]:before {
  opacity: 0.5;
}

[data-opacity="6"]:before {
  opacity: 0.6;
}

[data-opacity="7"]:before {
  opacity: 0.7;
}

[data-opacity="8"]:before {
  opacity: 0.8;
}

[data-opacity="9"]:before {
  opacity: 0.9;
}

[data-opacity="10"]:before {
  opacity: 1;
}

/*=================================
    10. Theme Animation
==================================*/
.ripple-animation, .play-btn:after, .play-btn:before {
  animation-duration: var(--ripple-ani-duration);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: ripple;
}

.ani-moving-x,
.ani-moving-y,
.ani-moving {
  animation-duration: var(--moving-ani-duration);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.ani-moving {
  animation-name: moving;
}

.ani-moving-x {
  animation-name: moving-x;
}

.ani-moving-y {
  animation-name: moving-y;
}

.mega-hover {
  position: relative;
  overflow: hidden;
}

.mega-hover img {
  transition: all 2s ease;
  transform: scale(1);
}

.mega-hover:after, .mega-hover:before {
  content: '';
  position: absolute;
  pointer-events: none;
  opacity: 1;
  z-index: 3;
  transform: rotate(5deg);
}

.mega-hover:before {
  top: 0;
  right: 51%;
  bottom: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.3);
}

.mega-hover:after {
  top: 50%;
  right: 0;
  bottom: 50%;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
}

.mega-hover:hover:before {
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 900ms linear;
}

.mega-hover:hover:after {
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: all 900ms linear;
}

.mega-hover:hover img {
  transform: scale(1.05);
}

.thumb_swap .img_swap {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
  background-color: var(--white-color);
}

.thumb_swap:hover .img_swap {
  opacity: 1;
  visibility: visible;
}

.thumb_swap .flash-img,
.thumb_swap .product-img {
  overflow: hidden;
  position: relative;
}

/* Medium devices */
@media (max-width: 992px) {
  .ani-md-none {
    animation: none;
  }
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  30% {
    opacity: 0.40;
  }
  100% {
    transform: scale(1.7);
    opacity: 0;
  }
}

@keyframes moving {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(0px, -60px);
  }
  50% {
    transform: translate(-60px, -60px);
  }
  70% {
    transform: translate(-60px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes moving-y {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0, -60px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes moving-x {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-60px, 0);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

/*=================================
    11. Extend
==================================*/
/*=================================
    12. Spacing
==================================*/
.space,
.space-top {
  padding-top: 130px;
}

.space,
.space-bottom {
  padding-bottom: 130px;
}

.space-md,
.space-md-top {
  padding-top: 100px;
}

.space-md,
.space-md-bottom {
  padding-bottom: 100px;
}

/* Medium devices */
@media (max-width: 992px) {
  .space,
  .space-top {
    padding-top: 60px;
  }
  .space,
  .space-bottom {
    padding-bottom: 60px;
  }
  .space-md,
  .space-md-top {
    padding-top: 30px;
  }
  .space-md,
  .space-md-bottom {
    padding-bottom: 30px;
  }
}

/*-- Padding Left And Right --*/
.px-5 {
  padding-right: 5px;
  padding-left: 5px;
}

.px-10 {
  padding-right: 10px;
  padding-left: 10px;
}

.px-15 {
  padding-right: 15px;
  padding-left: 15px;
}

.px-20 {
  padding-right: 20px;
  padding-left: 20px;
}

.px-25 {
  padding-right: 25px;
  padding-left: 25px;
}

.px-30 {
  padding-right: 30px;
  padding-left: 30px;
}

.px-35 {
  padding-right: 35px;
  padding-left: 35px;
}

.px-40 {
  padding-right: 40px;
  padding-left: 40px;
}

.px-45 {
  padding-right: 45px;
  padding-left: 45px;
}

.px-50 {
  padding-right: 50px;
  padding-left: 50px;
}

.px-55 {
  padding-right: 55px;
  padding-left: 55px;
}

.px-60 {
  padding-right: 60px;
  padding-left: 60px;
}

.px-65 {
  padding-right: 65px;
  padding-left: 65px;
}

.px-70 {
  padding-right: 70px;
  padding-left: 70px;
}

.px-75 {
  padding-right: 75px;
  padding-left: 75px;
}

.px-80 {
  padding-right: 80px;
  padding-left: 80px;
}

.px-85 {
  padding-right: 85px;
  padding-left: 85px;
}

.px-90 {
  padding-right: 90px;
  padding-left: 90px;
}

.px-95 {
  padding-right: 95px;
  padding-left: 95px;
}

.px-100 {
  padding-right: 100px;
  padding-left: 100px;
}

/*-- Padding Top And Bottom --*/
.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-35 {
  padding-top: 35px;
  padding-bottom: 35px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-45 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-55 {
  padding-top: 55px;
  padding-bottom: 55px;
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.py-65 {
  padding-top: 65px;
  padding-bottom: 65px;
}

.py-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.py-75 {
  padding-top: 75px;
  padding-bottom: 75px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.py-85 {
  padding-top: 85px;
  padding-bottom: 85px;
}

.py-90 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.py-95 {
  padding-top: 95px;
  padding-bottom: 95px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

/*-- Padding Top --*/
.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-100 {
  padding-top: 100px;
}

/*-- Padding Bottom --*/
.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-100 {
  padding-bottom: 100px;
}

/*-- Padding Left --*/
.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-35 {
  padding-left: 35px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-45 {
  padding-left: 45px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-55 {
  padding-left: 55px;
}

.pl-60 {
  padding-left: 60px;
}

.pl-65 {
  padding-left: 65px;
}

.pl-70 {
  padding-left: 70px;
}

.pl-75 {
  padding-left: 75px;
}

.pl-80 {
  padding-left: 80px;
}

.pl-85 {
  padding-left: 85px;
}

.pl-90 {
  padding-left: 90px;
}

.pl-95 {
  padding-left: 95px;
}

.pl-100 {
  padding-left: 100px;
}

/*-- Padding Right --*/
.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-25 {
  padding-right: 25px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-35 {
  padding-right: 35px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-45 {
  padding-right: 45px;
}

.pr-50 {
  padding-right: 50px;
}

.pr-55 {
  padding-right: 55px;
}

.pr-60 {
  padding-right: 60px;
}

.pr-65 {
  padding-right: 65px;
}

.pr-70 {
  padding-right: 70px;
}

.pr-75 {
  padding-right: 75px;
}

.pr-80 {
  padding-right: 80px;
}

.pr-85 {
  padding-right: 85px;
}

.pr-90 {
  padding-right: 90px;
}

.pr-95 {
  padding-right: 95px;
}

.pr-100 {
  padding-right: 100px;
}

.pt-200 {
  padding-top: 200px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pt-300 {
  padding-top: 300px;
}

.pb-300 {
  padding-bottom: 300px;
}

.pt-175 {
  padding-top: 175px;
}

/*-- margin Left And Right --*/
.mx-5 {
  margin-right: 5px;
  margin-left: 5px;
}

.mx-10 {
  margin-right: 10px;
  margin-left: 10px;
}

.mx-15 {
  margin-right: 15px;
  margin-left: 15px;
}

.mx-20 {
  margin-right: 20px;
  margin-left: 20px;
}

.mx-25 {
  margin-right: 25px;
  margin-left: 25px;
}

.mx-30 {
  margin-right: 30px;
  margin-left: 30px;
}

.mx-35 {
  margin-right: 35px;
  margin-left: 35px;
}

.mx-40 {
  margin-right: 40px;
  margin-left: 40px;
}

.mx-45 {
  margin-right: 45px;
  margin-left: 45px;
}

.mx-50 {
  margin-right: 50px;
  margin-left: 50px;
}

.mx-55 {
  margin-right: 55px;
  margin-left: 55px;
}

.mx-60 {
  margin-right: 60px;
  margin-left: 60px;
}

.mx-65 {
  margin-right: 65px;
  margin-left: 65px;
}

.mx-70 {
  margin-right: 70px;
  margin-left: 70px;
}

.mx-75 {
  margin-right: 75px;
  margin-left: 75px;
}

.mx-80 {
  margin-right: 80px;
  margin-left: 80px;
}

.mx-85 {
  margin-right: 85px;
  margin-left: 85px;
}

.mx-90 {
  margin-right: 90px;
  margin-left: 90px;
}

.mx-95 {
  margin-right: 95px;
  margin-left: 95px;
}

.mx-100 {
  margin-right: 100px;
  margin-left: 100px;
}

/*-- margin Top And Bottom --*/
.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-35 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.my-45 {
  margin-top: 45px;
  margin-bottom: 45px;
}

.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.my-55 {
  margin-top: 55px;
  margin-bottom: 55px;
}

.my-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.my-65 {
  margin-top: 65px;
  margin-bottom: 65px;
}

.my-70 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.my-75 {
  margin-top: 75px;
  margin-bottom: 75px;
}

.my-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.my-85 {
  margin-top: 85px;
  margin-bottom: 85px;
}

.my-90 {
  margin-top: 90px;
  margin-bottom: 90px;
}

.my-95 {
  margin-top: 95px;
  margin-bottom: 95px;
}

.my-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

/*-- margin Top --*/
.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

/*-- margin Bottom --*/
.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

/*-- margin Left --*/
.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-35 {
  margin-left: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-45 {
  margin-left: 45px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-55 {
  margin-left: 55px;
}

.ml-60 {
  margin-left: 60px;
}

.ml-65 {
  margin-left: 65px;
}

.ml-70 {
  margin-left: 70px;
}

.ml-75 {
  margin-left: 75px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-85 {
  margin-left: 85px;
}

.ml-90 {
  margin-left: 90px;
}

.ml-95 {
  margin-left: 95px;
}

.ml-100 {
  margin-left: 100px;
}

/*-- margin Right --*/
.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-35 {
  margin-right: 35px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-45 {
  margin-right: 45px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-55 {
  margin-right: 55px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-65 {
  margin-right: 65px;
}

.mr-70 {
  margin-right: 70px;
}

.mr-75 {
  margin-right: 75px;
}

.mr-80 {
  margin-right: 80px;
}

.mr-85 {
  margin-right: 85px;
}

.mr-90 {
  margin-right: 90px;
}

.mr-95 {
  margin-right: 95px;
}

.mr-100 {
  margin-right: 100px;
}

.mt-n1 {
  margin-top: -.25rem;
}

.mt-n2 {
  margin-top: -.5rem;
}

.mt-n3 {
  margin-top: -1rem;
}

.mt-n4 {
  margin-top: -1.5rem;
}

.mt-n5 {
  margin-top: -3rem;
}

.space,
.space-top {
  padding-top: 130px;
}

.space,
.space-bottom {
  padding-bottom: 130px;
}

.space-md,
.space-md-top {
  padding-top: 100px;
}

.space-md,
.space-md-bottom {
  padding-bottom: 100px;
}

/* Medium devices */
@media (max-width: 992px) {
  .space,
  .space-top {
    padding-top: 60px;
  }
  .space,
  .space-bottom {
    padding-bottom: 60px;
  }
  .space-md,
  .space-md-top {
    padding-top: 30px;
  }
  .space-md,
  .space-md-bottom {
    padding-bottom: 30px;
  }
}

/*=================================
    00. RTL Support
==================================*/
/*=================================
    00. WP Default
==================================*/
/*=================================
    00. Wordpress Style
==================================*/
/*# sourceMappingURL=style.css.map */