.section-title {
  margin-bottom: 60px;

  >img {
    margin-top: 17px;
  }
}


// Section Title

.sec-title2 {
  font-size: 48px;
  line-height: 1.5;
  margin-top: 20px;
}

.sec-title1 {
  color: $body-color;
  font-weight: 500;
  margin-bottom: 0;
  text-transform: none;
}


.sec-paragraph {
  color: $body-color;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
}



