@media (min-width: 1950px) {
  .d-none-hd {
    display: none;
  }
}


@media (min-width: $xl) {
  .d-hd-inline-block {
    display: inline-block !important;
  }

  .d-hd-block {
    display: block !important;
  }
}


.image-scale-hover {
  overflow: hidden;

  img {
    transition: all ease 0.4s;
    transform: scale(1.001);
  }

  &:hover {
    img {
      transform: scale(1.2);
    }
  }
}


.link-inherit {
  & a,
  * a {
    color: inherit;

    &:hover {
      color: $theme-color;
    }
  }
}


.list-style-none {
  ol,
  ul,
  & {
    padding: 0;
    margin: 0;
  }

  li {
    list-style-type: none;
  }
}



.form-messages {
  display: none;

  &.success {
    color: $success-color;
    display: block;
  }
  &.error {
    color: $error-color;
    display: block;
  }
}




.badge {
  position: absolute;
  width: fit-content;
  display: inline-block;
  text-align: center;
  background-color: $body-color;
  color: $white-color;
  padding: .35em .55em;
  border-radius: 50%;
}

.vs-rating {
  color: $light-color;

  .active {
    color: $theme-color;
  }
}

.media-body {
  flex: 1;
}

