.feature-icon {
     width: 99px;
     height: 99px;
     border: 2px solid $theme-color;
     border-radius: 50%;
     text-align: center;
     line-height: 105px;
     position: relative;
     z-index: 2;
     &::before {
        content: '';
        position: absolute;
        background-color: $white-color;
        box-shadow: 0px 20px 60px 0px rgba(95, 91, 69, 0.1);
        // width: 75px;
        // height: 75px;
        @include equal-size(75px);
        border-radius: 50%;
        left: -1px;
        right: 0;
        top: 50%;
        bottom: 0;
        margin: 0 auto;
        transform: translateY(-50%);
        z-index: -1;
        transition: all 0.3s ease-in-out;
     }
    i {
        color: $theme-color;
        font-size: 38px;
        line-height: 105px;
    }
} 


.feature-box {
    &:hover {
        .feature-icon {
             &::before {
                 background-color: $theme-color;
                 width: 102%;
                 height: 102%;
             }

             & i {
                 color: $white-color;
             }
        }
    }
}

