//hero-slider-one

.hero-title-one {
    color: $theme-color;
    font-size: 72px;
    line-height: var(--line-height, 1.18);
}
.sub-title {
    color: var(--body-color);
    font-size: 18px;
    line-height: 30px;
}

.hero-slider-img {
    position: absolute;
    right: 18.22%;
    top: 21%;
    z-index: 2;
}