//vs-services



.vs-services-content {
    position: relative;
    padding: 35px 55px 22px 40px;
    &::before {
        content: '';
        position: absolute;
        height: 280px;
        width: 100%;
        border-radius: 10px;
        background: $white-color;
        border: 2px solid #9f974f;
        opacity: 0.1;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: all 0.3s;
    }
}

.vs-services-box {
    &:hover {
       & .vs-services-content {
            &::before {
                border-color: #f0f0f0;
                box-shadow: 0px 20px 42px rgba(0, 0, 0, 0.08);
                opacity: 1;
            }
       }
    }
}