
.header-position {
  position: absolute;
  top: -40px;
  z-index: 19;
}
.menu-style1 {
  >ul {
    >li {
      margin: 0 18px;

      >a {
        padding: 36px 0;
        font-size: 16px;
        color: $theme-color;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: -2px;
          height: 4px;
          width: 0;
          background-color: $theme-color;
          transition: all ease 0.4s;
        }

        &:hover {
          color: #858585;

          &:before {
            width: 100%;
          }
        }
      }

      &.menu-item-has-children {
        a:before {
          bottom: 0;
        }
      }
    }
  }
}


.head-top-links {
  li {
    display: inline-block;
    margin-right: 28px;
    position: relative;
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      right: -17px;
      top: 8px;
      height: 10px;
      width: 1px;
      line-height: 1;
      background-color: var(--border-color, rgb(110, 110, 109));
      transition: all ease 0.4s;
    }
    a {
      i {
        margin-right: 5px;
      }
    }
  }
   a {
     color: $white-color;
   }
} 



.head-top-widget {
    .globe-icon {
      margin-right: 5px;
    }
  
    ul.dropdown-menu {
      padding: 10px 15px;
      border: none;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07);
      margin: 0;
      margin-top: 15px !important;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      min-width: auto;
      position: relative;
      z-index: 55;
      border: 1px solid #ededed;	

        & a {
        	padding: 0 10px;
        	width: max-content;

        	&:hover {
        		color: $theme-color;
        		text-decoration: underline;
        	}
        }
    }
  .dropdown-toggle {
    &::before {
      content: '\f078';
      font-size: 8px;
      font-family: "Font Awesome 5 pro";
      position: absolute;
      right: -10px;
      top: 0;
      z-index: 1;
    }
    &::after {
      display: none;
    }
  }
} 



.vs-social-group {
  a {
    display: inline-block;
    color: var(--icon-color, $white-color);
    width: var(--link-size, 40px);
    height: var(--link-size, 40px);
    line-height: var(--link-size, 40px);
    background-color: var(--bg-color, rgb(134, 127, 68));
    text-align: center;
    &:hover {
      color: $theme-color2;
    }
  }
}







